<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список прочитанных книг</title>
</head>
<body>
    <h1>Список прочитанных книг</h1>

    <table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Категория</th>
            <th>Дата прочтения</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.category.name }}</td>
                <td>{{ book.date|date:"Y-m-d" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    <a href="{% url 'book_add' %}">Добавить книгу</a>
    <a href="{% url 'category_add' %}">Добавить категорию</a>

</body>
</html>
